@model List<ResultInstructorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<div class="container top-entete">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <h4 class="text-primary" style="line-height:15px"><i class="fa-solid fa-table-list me-4"></i>Eğitmenler </h4>
        </div>
        <a href="/Admin/Instructor/Create" class="btn btn-outline-primary">
            <i class="fa-solid fa-plus me-1"></i>Yeni Eğitmen Ekle
        </a>

    </div>
</div>
<div class="margin-auto mb-3 table-responsive tableau mt-3">
    <table class="table table-stripped table-hover table-sm">
    <thead class="rounded-3 tableau-header">
        <tr class="text-secondary">
            <th>N°</th>
            <th>Profil Resimi</th>
            <th>Ad Soyad</th>
            <th>Ünvan</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var instructor in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td><img src="@instructor.ImageUrl" style="width:75px;height:75px; border-radius:50%"/></td>
                <td>@instructor.FullName</td>
                <td>@instructor.Title</td>
                <td>
                        <a href="/Admin/Instructor/Delete/@instructor.Id" class="btn btn-outline-danger">
                          <i class="fa-solid fa-trash me-1"></i>
                          Sil</a>
                      <a href="/Admin/Instructor/Update/@instructor.Id" class="btn btn-outline-success">
                            <i class="fa-solid fa-edit me-1"></i>

                          Güncelle</a>
                   
                </td>
            </tr>
        }
    </tbody>


</table>
</div>
