@model FooterModelView
@*
    Footer Partial View
*@
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="footer-item">
                    <h2 class="fw-bold mb-3"><span class="text-primary mb-0">Baby</span><span class="text-secondary">Care</span></h2>
                    <div class="border border-primary p-3 rounded bg-light">
                        <h5 class="mb-3">Bülten</h5>
                        <div class="position-relative mx-auto border border-primary rounded" style="max-width: 400px;">
                            <form method="post" id="subscription">
                                <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" id="mail" placeholder="Mailiniz Giriniz">
                                
                                <button type="submit" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2 text-white">Abone Ol</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="footer-item">
                    <div class="d-flex flex-column p-4 ps-5 text-dark border border-primary"
                    style="border-radius: 50% 20% / 10% 40%;">
                        <p>Paz: 8am to 5pm</p>
                        <p>Salı: 8am to 5pm</p>
                        <p>Çar: 8am to 5pm</p>
                        <p>Per: 8am to 5pm</p>
                        <p>Cum: 8am to 5pm</p>
                        <p>Cumar: Kapalı</p>
                        <p class="mb-0">Sunday: Kapalı</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="footer-item">
                    <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">İkamet Yeri</h4>
                    <div class="d-flex flex-column align-items-start">
                        <a href="" class="text-body mb-4" style="font-size:14px;"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Contact.Address</a>
                        <a href="" class="text-start rounded-0 text-body mb-4" style="font-size:14px;"><i class="fa fa-phone-alt text-primary me-2"></i> @Model.Contact.Tel</a>
                        <a href="" class="text-start rounded-0 text-body mb-4" style="font-size:14px;"><i class="fas fa-envelope text-primary me-2"></i> @Model.Contact.Email</a>
                        <a href="" class="text-start rounded-0 text-body mb-4" style="font-size:14px;"><i class="fa fa-clock text-primary me-2"></i> 24/5 Saat Hizmet</a>
                        <div class="footer-icon d-flex">
                            <a class="btn btn-primary btn-sm-square me-3 rounded-circle text-white" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square me-3 rounded-circle text-white" href=""><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square me-3 rounded-circle text-white"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square rounded-circle text-white"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="footer-item">
                    <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Galerimiz</h4>
                    <div class="row g-3">
                        @foreach(var gallery in Model.Galleries)
                        {
                            <div class="col-4">
                                <div class="footer-galary-img rounded-circle border border-primary">
                                    <img src="@gallery.ImageUrl" class="img-fluid rounded-circle p-2" alt="">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const formulaire=document.getElementById('subscription');
    document.addEventListener("submit",function(event){
        event.preventDefault();
        let formData={
            Email:document.getElementById('mail').value
        }
        console.log(formData.Email);
        let url="/Client/Subscribe"
        fetch(url,{
            method:"POST",
            headers:{
                "Content-Type":"application/json",
                "Accept":"application/json"
            },
            body:JSON.stringify(formData)
        })
        .then(response=>response.json())
        .then(data=>
        {
            console.log('response:${data.success}');
                if(data.success)
                {
                    Swal.mixin({
                              toast: true,
                              position: "bottom-end",
                              showConfirmButton: false,
                              timer: 3000,
                              timerProgressBar: true,
                              didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer}})
                    .fire({
                        icon: "success",
                        title: "Tebrikler. Başarıyla abone olmuşsunuzdur!"})
                    .then(()=>{
                        document.getElementById('mail').value="";
                        window.location.reload()
                    })
                }else{
                    Swal.fire({
                        position:"top-center",
                        title: "İşlem Başarısız!",
                        text: data.message,
                        icon: "error",
                        showConfirmButton: true,
                        timer: 6000
                            });
                }
        }).catch(Error=>
        {
             console.error('Bir hata oluştu',error);
             Swal.fire({
                 position:"top-center",
                 title: "Error!",
                 text: "Bir hata oluştu.",
                 icon: "error",
                 showConfirmButton: true,
                 timer:1500
             });
        })
        
    });

</script>