
@{
    Layout = null;
}

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/Admin/Dashboard/Index">
                <hh6 class="fs-6 fw-bolder"><span class="text-danger">Baby</span> <span class="text-secondary">Care</span> - Admin</hh6>

            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Dashboard/Index" aria-expanded="false">
                        <span>
                            <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Product/Index" aria-expanded="false">
                        <span>
                            <iconify-icon icon="solar:layers-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Dersler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Instructor/Index" aria-expanded="false">
                        <span>
                            <iconify-icon icon="solar:danger-circle-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Eğimentler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Service/Index" aria-expanded="false">
                        <span>
                            <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Hizmetler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Admin/Event/Index" aria-expanded="false">
                        <span>
                            <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Etkinlikler</span>
                    </a>
                </li>
             
            </ul>
            
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
